.wrapper-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .header {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 570px) {
      padding: 0 20px;
      gap: 15px;
    }
    .title-aboutMe {
      font-size: 32px;
      font-weight: 800;
      color: #fafafa;
      @media (max-width: 570px) {
        font-size: 24px;
        font-weight: 700;
      }
    }
    .hr-header {
      width: 40px;
      height: 5px;
      border-radius: 3px;
      background: #ffdb70;
      border: none;
      @media (max-width: 570px) {
        height: 3px;
        width: 30px;
      }
    }
  }
  .about-text {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 15px;
    @media (max-width: 570px) {
      padding: 0 20px;
    }
    .text-1 {
      font-size: 15px;
      color: #d6d6d6;
      font-weight: 600;
      line-height: 22px;
    }
    .text-2 {
      font-size: 15px;
      color: #d6d6d6;
      font-weight: 600;
      line-height: 22px;
    }
  }
}
