.main-about {
  width: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  background: #1e1e1f;
  border: 1px solid #383838;
  border-radius: 20px;
  padding: 35px 0;
  gap: 33px;
  @media (max-width: 1250px) {
    width: 950px;
  }
  @media (max-width: 1020px) {
    max-width: 700px;
  }
  @media (max-width: 760px) {
    max-width: 500px;
  }
  @media (max-width: 570px) {
    max-width: 100%;
  }
  .route {
    text-decoration: none;
  }
}
